<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="container">
      <section class="titulo__page">
        <h1>carrito de compras</h1>
      </section>
      <!-- Carrito de compras -->
      <section class="grid__lista">
        <div class="grid__headerlista">
          <div class="grid__colum1">
            <h3 class="grid__encabezado">Detalle de producto</h3>
          </div>
          <div class="grid__colum2">
            <h3 class="grid__encabezado">Cantidad</h3>
          </div>
          <div class="grid__colum3">
            <h3 class="grid__encabezado">Total</h3>
          </div>
          <div class="grid__colum4"></div>
        </div>

  
        <div class="grid__items">
          <div class="grid__colum1">
            <div class="carditem__elem1">
              <img
                class="carditem__img"
                src="/img/star-wars/baby-yoda-1.webp"
                alt="imagen del item"
              />
              <div class="carditem__contenido">
                <h3 class="carditem__nombreitem">BABY YODA BLUEBALL</h3>
                <p class="carditem__categoria">STAR WARS</p>
                <p class="carditem__precio">precio: $ 1799,99</p>
              </div>
            </div>
          </div>
          <div class="grid__colum2">
            <div class="carditem__elem2">
              <div class="carditem__cantidad">
                <input
                  class="carditem__input"
                  type="number"
                  min="1"
                  max="100"
                  step="1"
                  pattern="^[0-9]{1,3}\S$"
                  value="1"
                />
                <div class="carditem__sum">
                  <div class="carditem__sum-boton">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill="currentColor"
                        d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0Zm1.062 4.312a1 1 0 1 0-2 0v2.75h-2.75a1 1 0 0 0 0 2h2.75v2.75a1 1 0 1 0 2 0v-2.75h2.75a1 1 0 1 0 0-2h-2.75Z"
                      />
                    </svg>
                  </div>
                  <div class="carditem__sum-boton">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 512 512"
                    >
                      <path
                        fill="currentColor"
                        d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zm149.3 277.3c0 11.8-9.5 21.3-21.3 21.3H128c-11.8 0-21.3-9.6-21.3-21.3v-42.7c0-11.8 9.5-21.3 21.3-21.3h256c11.8 0 21.3 9.6 21.3 21.3v42.7z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid__colum3">
            <div class="carditem__elem3">
              <div class="carditem__total">
                <p>$3.090</p>
              </div>
            </div>
          </div>
          <div class="grid__colum4">
            <div class="carditem__elem4">
              <div class="eliminar">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <path
                    fill="currentColor"
                    d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2zm0 26C9.4 28 4 22.6 4 16S9.4 4 16 4s12 5.4 12 12s-5.4 12-12 12z"
                  />
                  <path
                    fill="currentColor"
                    d="M21.4 23L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>


      <!-- TITULO RESUMEN -->
      <section class="resumen">
        <div class="titulo__name">
          <h1>resumen</h1>
        </div>
        <!-- Recibo contenedor -->
        <div class="content__recibo">
          <div class="recibo__tabla">
            <div class="recibo__row1">
              <p class="recibo__colum1 celda1">cantidad</p>
              <p class="recibo__colum2 celda2">3</p>
            </div>
            <div class="recibo__row2">
              <p class="recibo__colum1 celda3">subtotal</p>
              <p class="recibo__colum2 celda4">$5.399,97</p>
            </div>
            <div class="recibo__row3">
              <p class="recibo__colum1 celda5">envio</p>
              <p class="recibo__colum2 celda6">$0,00</p>
            </div>
            <div class="recibo__row4">
              <p class="recibo__colum1 celda7">total</p>
              <p class="recibo__colum2 celda8">$16.100,91</p>
            </div>
          </div>
          <a class="resumen__boton"> ir a pagar </a>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
   
  </body>
</html>
