<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>
    <h2 class="container">PAGINA DE CONTACTO</h2>
    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
